@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");

/* variables */
:root {
  /* colors */
  --darker-primary: #35105c;
  --dark-primary: #3b1266;
  --primary: #411470;
  --dark-secondary: #331222;
  --secondary: #c34383;
  --accent: #71d6ff;
  --white: #fff;

  /* font */
  --ff: Raleway, sans-serif;

  --light-fw: 400;
  --fw: 500;
  --md-fw: 600;

  --lg-fs: 1rem;
  --md-fs: 0.9rem;
  --fs: 0.8rem;
  --sm-fs: 0.7rem;

  /* sizes */
  --mobile-bar-width: 70px;
}

@media (min-width: 60rem) {
  :root {
    --lg-fs: 0.85rem;
    --md-fs: 0.8rem;
    --fs: 0.75rem;
    --sm-fs: 0.6rem;
  }
}

/* general */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: var(--ff);
  font-size: var(--fs);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: var(--lg-fs);
  font-family: var(--md-fw);
}

h2 {
  font-size: var(--md-fs);
  font-family: var(--light-fw);
}

.section {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  height: 100vh;
}

.section__header {
  display: flex;
  justify-content: space-between;
}

.section__title {
  text-transform: uppercase;
  color: var(--accent);
}

.separator {
  background-color: var(--accent);
  height: 0.1rem;
  border: 0;

  margin-bottom: 0.5rem;
}

.list {
  list-style-type: none;
  flex-grow: 1;

  overflow-y: auto;
  padding: 0.5em;
}

.list__item {
}

.modal {
  position: absolute;
  z-index: 1000;

  height: 100vh;
  width: 100vw;
  padding: 2em;

  display: flex;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal__header {
  margin-left: auto;
}

.modal__close-btn {
  color: var(--white);
  font-size: 2rem;

  background-color: transparent;
  border: 0;
  outline: 0;

  cursor: pointer;
}

.modal__body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.from__container {
  background-color: var(--white);
  padding: 2em;

  border-radius: 0.2rem;
}

.form {
  display: flex;
  align-items: center;
}

.form-group {
  margin-right: 1rem;
}

.form-group__label {
  font-weight: bold;
  margin-right: 0.5rem;
}

.from-group__input {
  outline: 0;
  border: 1px solid var(--darker-primary);
  padding: 0.2em;
}

.form__submit-btn {
  padding: 0.4em 1em;

  color: var(--white);
  background-color: var(--darker-primary);

  outline: 0;
  border-radius: 0.3rem;

  cursor: pointer;
}

/* app */
.app {
  display: flex;
  position: relative;
}

/* mobile bar */
.mobile-bar {
  width: var(--mobile-bar-width);
  background-color: var(--darker-primary);

  position: relative;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-bar__btn {
  height: calc(80 * var(--mobile-bar-width) / 100);
  width: calc(80 * var(--mobile-bar-width) / 100);

  color: var(--secondary);
  background-color: var(--dark-primary);

  border: 0.1em solid var(--primary);
  border-radius: 50%;

  font-size: var(--sm-fs);
  font-weight: var(--md-fw);

  cursor: pointer;
}

.mobile-bar__btn + .mobile-bar__btn {
  margin-top: 0.3rem;
}

@media (min-width: 60rem) {
  .mobile-bar {
    display: none;
  }
}

/* rooms */
.section--rooms {
  padding-left: 0;
  padding-right: 0;

  width: calc(100vw - var(--mobile-bar-width));
  background-color: var(--dark-primary);

  position: absolute;
  left: var(--mobile-bar-width);
  transform: translateX(-100%);

  transition: all 300ms ease-out;
}

.show-rooms .section--rooms {
  transform: translateX(0%);
}

.section__header--rooms {
  padding: 1em;
}

.section__title--rooms {
  margin-bottom: 0.5rem;
}

.rooms__add-btn {
  background: transparent;
  border: 0;

  color: var(--accent);
  font-size: var(--lg-fs);

  cursor: pointer;
}

.search-field__container {
  padding: 0 0.3rem;
}

.search-field {
  display: flex;
  background-color: var(--primary);
  border: 0.1em solid var(--darker-primary);
  border-radius: 2em;

  padding: 0.5em 1em;
  margin-bottom: 0.5rem;
}

.search-field__icon {
  color: var(--accent);
}

.search-field__input {
  border: 0;
  margin-left: 0.5em;

  background-color: transparent;
  color: var(--white);
  font-weight: var(--md-fw);

  width: 7vw;
}

.list--rooms {
  padding-left: 0;
  padding-right: 0;
}

.list-item--rooms {
  background-color: var(--dark-primary);
  padding: 0.5em;

  font-weight: var(--light-fw);
  color: var(--accent);
  text-align: center;
  text-transform: capitalize;

  cursor: pointer;
}

.list-item--rooms:hover {
  background-color: var(--primary);
}

.list-item--rooms.active {
  background-color: var(--primary);
}

.list-item--rooms + .list-item--rooms {
  margin-top: 0.25rem;
}

@media (min-width: 60rem) {
  .section--rooms {
    position: initial;
    transform: translate(0%);
    width: 15vw;

    background-color: var(--darker-primary);
  }

  .list-item--rooms {
    background-color: var(--darker-primary);
  }

  .list-item--rooms.active {
    background-color: var(--dark-primary);
  }
}

/* members */
.section--members {
  width: calc(100vw - var(--mobile-bar-width));
  background-color: var(--dark-primary);

  position: absolute;
  left: var(--mobile-bar-width);
  transform: translateX(-100%);

  transition: all 300ms ease-out;
}

.show-members .section--members {
  transform: translateX(0%);
}

.section__title--members {
  margin-bottom: 0.5rem;
}

.separator--members {
  width: 50%;
}

.list-item--members {
  background-color: var(--primary);
  padding: 0.5em;

  font-weight: var(--light-fw);
  color: var(--accent);
  text-align: center;
  text-transform: capitalize;

  cursor: pointer;
}

.list-item--members:hover {
  background-color: var(--darker-primary);
}

.list-item--members + .list-item--members {
  margin-top: 0.25rem;
}

@media (min-width: 60rem) {
  .section--members {
    position: initial;
    transform: translate(0%);
    width: 15vw;

    padding-top: 7.4vh;
  }
}

/* room */
.section--room {
  flex: 1;
  background-color: var(--primary);

  justify-content: center;
}

.list--messages {
}

.list-item--messages {
  color: var(--white);
  border-radius: 0.2rem;
  overflow: hidden;
}

.list-item--messages + .list-item--messages {
  margin-top: 0.5em;
}

.message {
  display: flex;
}

.message__author {
  background-color: var(--dark-secondary);
  padding: 0.7em 1em;
}

.message__content {
  background-color: var(--secondary);

  padding: 0.7em 1em;

  flex-grow: 1;
}

.message-field {
  margin-top: auto;
  padding: 0.5em 0;
}

.message-field__input {
  width: 100%;
  padding: 0.5em;

  border: 1px solid var(--dark-secondary);
  background-color: var(--secondary);
  color: var(--white);
}

/* scroll bar */

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--darker-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-secondary);
}
